.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.mat-raised-button {
  margin-left: 16px;
}

.sepa {
  width: 40%;
}

.mat-form-field {
  display: inline !important;
  position: relative;
  text-align: center;
}

.mb-1-5 {
  margin-bottom: 1.3em !important;
}

.texto-derecha {
  text-align: right !important;
}

.negrita {
  font-weight: bold;
}

.centrado-alineado {
  vertical-align: middle;
  justify-content: center;
}