<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">

        <div class="card-title-text">
            <a class="toolbar-avatar md mr-16"><img src="assets/images/escuela.jpg" alt=""></a>
            <span>{{this.datos.establecimiento |uppercase}} </span>

        </div>
        <mat-divider></mat-divider>

        <!-- user detail lines-->
        <div class="flexbox-container">
            <div>
                <p>
                    <a class="toolbar-avatar md mr-16"><img src="assets/images/votosper.jpg" alt=""></a>
                    Votos:{{this.datos.total}}

                </p>
                <p>
                    <a class="toolbar-avatar md mr-16"><img src="assets/images/urna.jpg"
                            alt=""></a>Votaron:{{this.datos.votaron}}
                </p>
            </div>
            <div>
                <p>
                    <a class="toolbar-avatar md mr-16"><img src="assets/images/pendiente.jpg"
                            alt=""></a>Pendientes:{{this.datos.total - this.datos.votaron }}
                </p>
            </div>
        </div>
    </div>

</div>