<div class="container">
  <mat-card class="example-card">
    <mat-card-title>
      <div class="card-title-text">
        <a class="toolbar-avatar md mr-16"><img src="assets/images/urna.jpg" alt=""></a>
        <span>Cargar acta de escrutinio definitivo.</span>
        <span fxFlex></span>
      </div>

    </mat-card-title>

    <mat-card-subtitle>Para ello deberá contar con el acta suministrada por el presidente de la mesa que deseá cargar.
    </mat-card-subtitle>
    <mat-card-subtitle>Todos, los campos son obligatorios, los que no tengan valores, se deberán completar con ceros
      (0).</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <form [formGroup]="actaEscrutinio" (ngSubmit)="cargarEscrutinio()" autocomplete="off">
        <mat-card>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width" appearance="outline">


                <mat-select [(ngModel)]="escuelaSeleccionada" formControlName="establecimiento"
                  (ngModelChange)="cargarMesa()" placeholder="Seleccione una Escuela">
                  <mat-option [value]="esc" *ngFor="let esc of escuelas">{{esc
                    |uppercase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <mat-select formControlName="mesa" name="mesa" placeholder="Seleccione una número de mesa">
                  <mat-option [value]="mesa.mesa" *ngFor="let mesa of mesas">

                    {{mesa.mesa}}

                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="electoresVotaron" formControlName="electoresVotaron"
                  placeholder="Electores que han votado." soloNumeros>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="sobresUrnas" formControlName="sobresUrnas" soloNumeros
                  placeholder="Sobres en la urna.">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="diferencia" formControlName="diferencia" soloNumeros
                  placeholder="Diferencia.">
              </mat-form-field>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="row align-items-start">

            <mat-card-subtitle>Cargar el resultado de las listas, que participan de esta selección.
              <button mat-icon-button color="primary" aria-label="Agregar lista" (click)="addLista()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-subtitle>


          </div>

          <mat-divider class="p-1" inset></mat-divider>


          <ng-container formArrayName="listas">
            <div *ngFor="let lista of listas.controls; let i = index">
              <div [formGroupName]="i">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field appearance="outline">
                      <mat-select formControlName="lista" placeholder="Seleccione una lista">
                        <mat-option [value]="listaElecc" *ngFor="let listaElecc of listasEslecciones">{{listaElecc
                          |titlecase}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field appearance="outline">
                      <input type="number" matInput name="resultado" formControlName="resultado" soloNumeros
                        placeholder="Total de votos.">
                    </mat-form-field>
                  </div>
                  <div class="col-2 ">
                    <mat-icon class="delete-btn" (click)="deleteLista(i)">
                      delete_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>




        </mat-card>

        <mat-card>
          <div class="row">
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="votosNulos" formControlName="votosNulos" placeholder="Votos nulos"
                  soloNumeros>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="votosRecurridos" formControlName="votosRecurridos"
                  placeholder="Votos recurridos" soloNumeros>

              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="votosBlanco" formControlName="votosBlanco"
                  placeholder="Votos en blanco" soloNumeros>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="votosImpugnados" formControlName="votosImpugnados"
                  placeholder="Votos impugnados" soloNumeros>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width" appearance="outline">
                <input type="number" matInput name="totalVotos" formControlName="totalVotos"
                  placeholder="Total de votos" soloNumeros>
              </mat-form-field>
            </div>

          </div>


        </mat-card>

      </form>
    </mat-card-content>

    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="cancelar()">
        <mat-icon>clear</mat-icon>
        Cancelar
      </button>
      <button mat-raised-button [disabled]="!actaEscrutinio.valid" color="primary" (click)="saveEscrutinio()">
        Guardar
        <mat-icon>done</mat-icon>
      </button>
    </mat-card-actions>


    <mat-card-footer>

    </mat-card-footer>
  </mat-card>

</div>