.icon-blue {
  color: rgba(13, 83, 204, 0.828);

}

nav {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 6px;
}
mat-sm-chip {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}





// DISEÑO BOTONES


.boton-lotes {
  margin: 0.7rem auto;
  display: flex;
  background-color: #1d5fb7;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 6px;
  letter-spacing:normal;
}

.boton-lotes {
  transition: background .8s ease-out;
  background: #1d5fb7 radial-gradient(circle, transparent 1%, #00aad3 1%) center/15000%;
}

.boton-lotes:active {
  background-color: #00aad3;
  background-size: 100%;
  transition: background 0s;
}

.boton-lotes-buscar {
  margin: 0.7rem auto;
  display: flex;
  background-color: #673AB7;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 6px;
  letter-spacing: normal;
}


.boton-lotes-buscar {
  transition: background .8s ease-out;
  background: #2196F3 radial-gradient(circle, transparent 1%, #1976D2 1%) center/15000%;
  margin: auto;
}

.boton-lotes-buscar:active {
  background-color: #1976D2;
  background-size: 100%;
  transition: background 0s;
}

.contenedor-lotes{
  display: flex;
}

.columna-lotes{
  flex:1;
  flex-basis: 0;
  margin: auto;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.mat-button:first-child {
  margin-right: 10px;
}

.mat-sm-chip{
  background-color: transparent;
  color: #0d53ccd3;
  font-size: 20px;
  justify-content: center;
}


// Diseño Input

input {
  width: 75%;
  max-width: 150px;
  height: 30px;
  padding: 10px;
  border-radius: 6px;
  border: 1.75px solid lightgrey;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

input:hover {
  border: 2.5px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

input:active {
  transform: scale(0.95);
}

input:focus {
  border: 2.5px solid #1976D2;
}

