.material-icons.color_green {
  color: #6fd26f;
}

.material-icons.color_azul {
  color: #4a8adf;
}

.material-icons.color_naranja {
  color: #e0842e;
}

.material-icons.color_violeta {
  color: #b245da;
}
.example-full-width {
  width: 100%;
}
.assigned-chip {
  background-color: #6fd26f; // as per your requirement
}
.material-icons.color_eye {
  color: #0fadb8;
}
