<ng-container *ngIf="!cargado">
  <div class="app-loader">
    <div class="spinner">
      <div class="double-bounce1 mat-bg-primary" style="background: #0448a1"></div>
      <div class="double-bounce2 mat-bg-accent" style="background: #03a9f4"></div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="cargado">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-4">
              <h1>Listados de Empadronados</h1>
            </div>
            <div class="col-2 ">

              <h4 class="m-0 negrita ">Totales : {{totales.total}}</h4>
            </div>
            <div class="col-2">

              <h4 class="m-0 negrita ">Femenino : {{totales.totalFemenino}}</h4>
            </div>
            <div class="col-2">

              <h4 class="m-0 negrita ">Masculino : {{totales.totalMasculino}}</h4>
            </div>
            <div class="col-2">

              <h4 class="m-0 negrita ">No Binario : {{totales.totalNoBinario}}</h4>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
    <div class="row">
      <div *ngFor="let depto of deptos" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="33">
        <mat-card>
          <div class="col-12">
            <div class="row">
              <div class="col-9">
                <h5 class="m-0 ">Departamento : {{depto.departamento}}</h5>

              </div>
              <div class="col-3 texto-derecha">
                <button mat-icon-button [matMenuTriggerFor]="loteMenu" class="">
                  <mat-icon class="color-texto-primario icon-blue size-texto-40">add_circle</mat-icon>
                </button>
                <mat-menu #loteMenu="matMenu">
                  <button *ngIf="depto.localidades.length" mat-menu-item
                    (click)="openDialogLocalidades(depto.localidades)">Ver Localidades</button>
                  <button *ngIf="depto.localidades.length" mat-menu-item
                    (click)="openDialogExportar(depto.localidades)">Exportar a Excel</button>
                </mat-menu>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <h5 class="m-0 ">Total de Empadronados: </h5>
            </div>
            <div class="col-3 texto-derecha">
              <h5 class="m-0 ">{{depto.total}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <h5 class="m-0 ">Total Género Femenino:</h5>
            </div>
            <div class="col-3 texto-derecha">
              <h5 class="m-0 ">{{depto.totalFemenino}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <h5 class="m-0 ">Total Género Masculino:</h5>
            </div>
            <div class="col-3 texto-derecha">
              <h5 class="m-0 ">{{depto.totalMasculino}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <h5 class="m-0 ">Total Género No Binario:</h5>
            </div>
            <div class="col-3 texto-derecha">
              <h5 class="m-0 ">{{depto.totalNoBinario}}</h5>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>