<mat-card class="p-0">
    <mat-card-title class="">

        <div *ngIf="cargar_datos" class="card-title-text">Planilla de Voto Adhesion de:
            {{datosResPlanilla.apellido
            |titlecase}} {{datosResPlanilla.nombres |titlecase}}</div>

        <ng-container *ngIf="!cargar_datos">
            <div class="card-title-text">Planilla de Voto Adhesion de: {{datosResPlanilla.apellido
                |titlecase}} {{datosResPlanilla.nombres |titlecase}}</div>
        </ng-container>

        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <mat-vertical-stepper [linear]="true" linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Ingrese el numero de documento</ng-template>
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

                            <div flexorder="1" fxFlex.xs="" fxFlex.sm="" fxflex.xs="" fxflex="33%">
                                <ng-container *ngIf='!ocultarBusqueda'>
                                    <mat-form-field class="example-full-width mt-2" appearance="fill">
                                        <mat-label>Nro. Documento</mat-label>
                                        <input type="text" class="form-control" matInput formControlName="dni"
                                            placeholder="Ingrese el número de documento" required>
                                    </mat-form-field>
                                    <div fxLayout="row">
                                        <div class="form-group">
                                            <label>Seleccione Sexo</label>
                                            <div class="radio-inline">
                                                <mat-radio-group aria-labelledby="example-radio-group-label"
                                                    class="example-full-width" appearance="fill" formControlName="sexo">
                                                    <mat-radio-button class="pr-1" *ngFor="let s of sexo" [value]="s"
                                                        required>
                                                        {{s}}
                                                    </mat-radio-button>

                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                </form>
                <div fxLayout="row" class="mt-1">
                    <ng-container *ngIf='!ocultarBusqueda'>
                        <button mat-raised-button color="warn" type="button" (click)="buscarDatos()"
                            matStepperNext>Verificar Datos</button>
                        <div *ngIf='cargando===true' class="loader">Cargando...</div>
                    </ng-container>
                    <!-- <ng-container *ngIf='ocultarBusqueda'>
                        <button mat-raised-button color="warn" (click)="stepper.reset()"
                            matStepperPrevious>Cancelar</button>
                        <span fxFlex="10px"></span>
                        <button mat-raised-button color="primary" type="button" matStepperNext>Siguiente</button>
                    </ng-container> -->
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Datos personales</ng-template>
                    <div fxLayout="row">
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-nombre padding-1">

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Apellido</mat-label>
                                <input type="text" class="form-control" matInput formControlName="apellido"
                                    placeholder="Apellido" required>

                            </mat-form-field>
                        </div>
                        <span fxFlex="10px"></span>
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-nombre padding-1">

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Nombre</mat-label>
                                <input type="text" class="form-control" matInput formControlName="nombre"
                                    placeholder="Nombre" required>

                            </mat-form-field>
                        </div>
                        <span fxFlex="10px"></span>
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-apellido padding-1">
                            <div class="">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Genero</mat-label>
                                    <input type="text" class="form-control" matInput formControlName="genero"
                                        placeholder="Genero">
                                </mat-form-field>
                            </div>
                        </div>

                        <span fxFlex="10px"></span>
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-apellido padding-1">
                            <div class="">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Clase</mat-label>
                                    <input type="text" class="form-control" matInput formControlName="clase"
                                        placeholder="Clase">
                                </mat-form-field>
                            </div>
                        </div>


                    </div>
                    <div fxLayout="row">

                        <div class="col-xl-3 col-xs-3 col-sm-3 col-nombre padding-1">

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Localidad</mat-label>
                                <input type="tel" matInput class="form-control" formControlName="localidad" readonly>
                                <mat-icon matSuffix>place</mat-icon>
                            </mat-form-field>
                        </div>

                        <span fxFlex="10px"></span>
                        <div class="col-xl-4 col-xs-4 col-sm-4 col-apellido padding-1">
                            <div class="">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Domicilio del establecimiento</mat-label>
                                    <input type="text" class="form-control" matInput
                                        formControlName="dom_estableimiento" placeholder=readonly>
                                    <mat-icon matSuffix>fmd_good</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <span fxFlex="10px"></span>
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-nombre padding-1">

                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Escuela</mat-label>
                                <input type="tel" matInput class="form-control" formControlName="establecimiento"
                                    readonly placeholder="">
                                <mat-icon matSuffix>home_work</mat-icon>
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxLayout="row">
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-nombre padding-1">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Mesa</mat-label>
                                <input type="text" class="form-control" matInput formControlName="mesa" placeholder=""
                                    readonly>
                                <mat-icon matSuffix>inventory_2</mat-icon>
                            </mat-form-field>

                        </div>

                        <span fxFlex="10px"></span>
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-apellido padding-1">
                            <div class="">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Orden</mat-label>
                                    <input type="tel" matInput class="form-control" formControlName="orden" readonly
                                        placeholder="">
                                    <mat-icon matSuffix>list_alt</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>





                    <div fxLayout="row">
                        <!--  <button mat-raised-button color="accent" matStepperPrevious type="button">Volver</button> -->
                        <span fxFlex="8px"></span>

                        <button mat-raised-button color="primary" type="button" matStepperNext>Siguiente</button>

                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="afiliadoFormGroup">
                <form [formGroup]="afiliadoFormGroup">
                    <ng-template matStepLabel>Datos Afiliacion</ng-template>
                    <div fxLayout="row">


                        <span fxFlex="10px"></span>
                        <div class="col-xl-3 col-xs-3 col-sm-3 col-apellido padding-1">
                            <div class="">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Afiliado</mat-label>
                                    <input type="text" class="form-control" matInput formControlName="afiliado"
                                        placeholder="Afiliado">
                                </mat-form-field>
                            </div>
                        </div>
                        <span fxFlex="10px"></span>
                        <!--  <div class="col-xl-3 col-xs-3 col-sm-3 col-apellido padding-1">
                            <div class="">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Fecha de Afiliacion</mat-label>
                                    <input type="text" class="form-control" matInput formControlName="fec_afiliacion"
                                        placeholder="Circuito">
                                </mat-form-field>
                            </div>
                        </div> -->

                    </div>

                    <div fxLayout="row">
                        <button mat-raised-button color="warn" (click)="cerrarPopUP()">Cancelar</button>
                        <span fxFlex="8px"></span>
                        <button mat-raised-button color="primary" [disabled]="!firstFormGroup.valid "
                            (click)="guardar()">Guardar</button>
                        <span fxFlex="8px"></span>
                        <button mat-raised-button class="color-texto-blanco" color="accent" matStepperPrevious
                            type="button">Volver</button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
</mat-card>