<div fxLayout="row wrap">

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{ value: '*', params: { y: '40px', delay: '800ms' } }">
    <mat-card class="p-0">
      <mat-card-title class="mb-16">
        <div class="card-title-text">
          <span class="font-weight-normal">Estadísticas de lotes</span>
          <div class="totalAf">
            <ngx-charts-advanced-pie-chart [view]="view" scheme='ocean' [results]="infoLote" [gradient]="gradient"
              (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" [@animate]="{ value: '*', params: { y: '40px', delay: '800ms' } }">
    <mat-card class="p-0">
      <mat-card-title class="mb-16">
        <div class="card-title-text">
          <span class="font-weight-normal">Estadísticas de afiliados,activos. </span>
          <div class="totalAf">
            <ngx-charts-advanced-pie-chart [view]="view" scheme='ocean' [results]="afiliado" [gradient]="gradient"
              (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
    </mat-card>
  </div>



</div>
<!--/ End first row -->

<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '800ms' } }">



  </div>

  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }">
    <mat-card class="p-0 ">
      <mat-card-title class="mb-16">
        <div class="card-title-text">
          <span class="font-weight-normal">Información de los afiliados, según las seccionales.</span>
          <div class="totalAf">
            <ngx-charts-bar-vertical-stacked [view]="viewBarras" [scheme]="colorScheme" [results]="multi"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [animations]="animations" (select)="onSelectBar($event)">
            </ngx-charts-bar-vertical-stacked>


          </div>
        </div>
      </mat-card-title>
    </mat-card>
  </div>
  <!--/ End tab -->

  <!-- Card para otro grafico!! -->
  <!-- <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50"
    [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
    <mat-card class="p-0 ">

    </mat-card>
  </div> -->
  <!--/ End donut chart -->
  <!--/ End 2nd row -->

  <!-- 3rd row, 1st column -->

  <!--/ End 3rd row, 1st column -->

  <!-- 3rd row, 2nd column -->

  <!--/ End 3rd row, 2nd column -->
</div>