<mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
  <div class="row">
    <div class="col-2">
      <div class="text-center pt-16 pb-16 border-right-light">
        <mat-icon class="text-green">contacts</mat-icon>
        <h4 class="m-0 ">{{totalLotes}}</h4>
        <small class="m-0 ">Lotes</small>
      </div>
    </div>
    <div class="col-2">
      <div class="text-center pt-16 pb-16 border-right-light">
        <mat-icon class="text-green">contact_mail_icon</mat-icon>
        <h4 class="m-0 ">{{totalLotesPresentados}}</h4>
        <small class="m-0 ">Lotes Presentados</small>
      </div>
    </div>
    <div class="col-2">
      <div class="text-center pt-16 pb-16 border-right-light">
        <mat-icon class="text-green">book</mat-icon>
        <h4 class="m-0 ">{{totalLotesCerrados}}</h4>
        <small class="m-0 ">Lotes Cerrados</small>
      </div>
    </div>
    <div class="col-2">
      <div class="text-center pt-16 pb-16 border-right-light">
        <mat-icon class="text-blue">people</mat-icon>
        <h4 class="m-0 ">{{totalAfiliados}}</h4>
        <small class="m-0 ">Afiliados</small>
      </div>
    </div>
    <div class="col-2">
      <div class="text-center pt-16 pb-16 border-right-light">
        <mat-icon class="text-blue">person_add</mat-icon>
        <h4 class="m-0 ">{{proxAfiliar}}</h4>
        <small class="m-0 ">Proximos afiliados</small>
      </div>
    </div>
    <div class="col-2">
      <div class="text-center pt-16 pb-16 border-right-light">
        <mat-icon class="text-blue">person</mat-icon>
        <h4 class="m-0 ">{{afiRechazados}}</h4>
        <small class="m-0 ">Afiliados Rechazados</small>
      </div>
    </div>
  </div>
</mat-card>
<!--/ End first row -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Personas afiliadas al partido</mat-card-title>
    <mat-card-subtitle>Datos segun lotes aprobados por la Junta Electoral</mat-card-subtitle>
  </mat-card-header>
  <!-- <img matCardImage src="./assets/images/logos/200px-Logo_MPN.png"> -->

  <mat-card-actions align="start">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"></apx-chart>

  </mat-card-actions>
  <mat-card-footer class="p-3">
    Información actualizada al momento de finalizar el tramite del lote.
  </mat-card-footer>
</mat-card>