<div class="text-center" *ngIf="!cargar">
    <h6 class="m-0 pb-16" style="white-space: pre-wrap; line-height: 1.4;">Buscando los Datos</h6>
    <div mat-dialog-content>
        <mat-spinner [style.margin]="'auto'"></mat-spinner>
    </div>
</div>
<div class="text-center" *ngIf="cargar">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
            <div id="chartNqn">
                <apx-chart [series]="chartOptionsNqn.series" [chart]="chartOptionsNqn.chart" [dataLabels]="chartOptionsNqn.dataLabels" [plotOptions]="chartOptionsNqn.plotOptions" [xaxis]="chartOptionsNqn.xaxis" [stroke]="chartOptionsNqn.stroke" [colors]="chartOptionsNqn.colors">
                </apx-chart>
            </div>
        </div>


        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
            <div id="chartNqnCAP">
                <apx-chart [series]="chartOptionsNqnV.series" [chart]="chartOptionsNqnV.chart" [dataLabels]="chartOptionsNqnV.dataLabels" [plotOptions]="chartOptionsNqnV.plotOptions" [xaxis]="chartOptionsNqnV.xaxis" [stroke]="chartOptionsNqnV.stroke" [colors]="chartOptionsNqnV.colors">
                </apx-chart>
            </div>
        </div>


        <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
            <div id="chart">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke">
                </apx-chart>
            </div>
        </div>
    </div>
</div>