<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
        <div id="chart">
            <apx-chart [series]="chartOptionsNqn.series" [chart]="chartOptionsNqn.chart" [dataLabels]="chartOptionsNqn.dataLabels" [plotOptions]="chartOptionsNqn.plotOptions" [xaxis]="chartOptionsNqn.xaxis" [stroke]="chartOptionsNqn.stroke">
            </apx-chart>
        </div>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
        <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke">
            </apx-chart>
        </div>
    </div>
</div>