<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <mat-card class="p-0 " [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }">
            <!-- Body -->
            <div class="card-body p-0">
                <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">

                    <img class="img-datos mt-0" src="{{this.graficaVotos.logoData}}" alt="" />


                    <div class="d-flex flex-column text-right mr-2 mt-1">
                        <p class="font-weight-bolder font-nro">{{this.graficaVotos.total}}</p>
                        <span class="text-muted font-weight-bold">{{this.graficaVotos.tituloData}}</span>
                    </div>
                </div>
                <!--begin::Chart-->
                <div id="kt_stats_widget_11_chart" class="card-rounded-bottom" [style.height]="'120px'">
                    <apx-chart [series]="v_chartOptions.series" [chart]="v_chartOptions.chart" [xaxis]="v_chartOptions.xaxis" [yaxis]="v_chartOptions.yaxis" [dataLabels]="v_chartOptions.dataLabels" [stroke]="v_chartOptions.stroke" [legend]="v_chartOptions.legend" [fill]="v_chartOptions.fill"
                        [states]="v_chartOptions.states" [tooltip]="v_chartOptions.tooltip" [colors]="v_chartOptions.colors" [markers]="v_chartOptions.markers" [plotOptions]="v_chartOptions.plotOptions">
                    </apx-chart>
                </div>
                <!--end::Chart-->
                <!--end::Stats-->
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <mat-card class="p-0 " [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }">
            <!-- Body -->
            <div class="card-body p-0">
                <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">

                    <img class="img-datos mt-0" src="{{this.graficaAfiliados.logoData}}" alt="" />


                    <div class="d-flex flex-column text-right mr-2 mt-1">
                        <p class="font-weight-bolder font-nro">{{this.graficaAfiliados.total}}</p>
                        <span class="text-muted font-weight-bold">{{this.graficaAfiliados.tituloData}}</span>
                    </div>
                </div>
                <!--begin::Chart-->
                <div id="kt_stats_widget_11_chart" class="card-rounded-bottom" [style.height]="'120px'">
                    <apx-chart [series]="a_chartOptions.series" [chart]="a_chartOptions.chart" [xaxis]="a_chartOptions.xaxis" [yaxis]="a_chartOptions.yaxis" [dataLabels]="a_chartOptions.dataLabels" [stroke]="a_chartOptions.stroke" [legend]="a_chartOptions.legend" [fill]="a_chartOptions.fill"
                        [states]="a_chartOptions.states" [tooltip]="a_chartOptions.tooltip" [colors]="a_chartOptions.colors" [markers]="a_chartOptions.markers" [plotOptions]="a_chartOptions.plotOptions">
                    </apx-chart>
                </div>
                <!--end::Chart-->
                <!--end::Stats-->
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <mat-card class="p-0 " [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }">
            <!-- Body -->
            <div class="card-body p-0">
                <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">

                    <img class="img-datos mt-0" src="{{this.graficaNoafiliados.logoData}}" alt="" />


                    <div class="d-flex flex-column text-right mr-2 mt-1">
                        <p class="font-weight-bolder font-nro">{{this.graficaNoafiliados.total}}</p>
                        <span class="text-muted font-weight-bold">{{this.graficaNoafiliados.tituloData}}</span>
                    </div>
                </div>
                <!--begin::Chart-->
                <div id="kt_stats_widget_11_chart" class="card-rounded-bottom" [style.height]="'120px'">
                    <apx-chart [series]="na_chartOptions.series" [chart]="na_chartOptions.chart" [xaxis]="na_chartOptions.xaxis" [yaxis]="na_chartOptions.yaxis" [dataLabels]="na_chartOptions.dataLabels" [stroke]="na_chartOptions.stroke" [legend]="na_chartOptions.legend"
                        [fill]="na_chartOptions.fill" [states]="na_chartOptions.states" [tooltip]="na_chartOptions.tooltip" [colors]="na_chartOptions.colors" [markers]="na_chartOptions.markers" [plotOptions]="na_chartOptions.plotOptions">
                    </apx-chart>
                </div>
                <!--end::Chart-->
                <!--end::Stats-->
            </div>
        </mat-card>
    </div>

</div>

<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
        <mat-card class="p-0 " [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }">
            <!-- Body -->
            <div class="card-body p-0">
                <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                    <div id="chart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [dataLabels]="chartOptions.dataLabels" [responsive]="chartOptions.responsive"></apx-chart>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

</div>