<mat-card class="p-0" [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }">
    <!-- Body -->
    <div class="card-body p-0">
        <div class="d-flex justify-content-between card-spacer flex-grow-1">

            <circle-progress [percent]="porcentaje" [radius]="110" [space]="5" [outerStrokeWidth]="16" [innerStrokeWidth]="10" [outerStrokeWidth]="15" [outerStrokeColor]=baseColor [innerStrokeColor]=baseColorLigth [animation]="true" [animationDuration]="1000" [showImage]="true"
                [imageSrc]=logo [imageHeight]="100" [imageWidth]="100" [showBackground]="false" [responsive]="false">
            </circle-progress>

            <div *ngIf="mostrar">
                <div class="d-flex flex-column text-right mr-2 mt-0">
                    <p class="font-weight-bolder font-nro">{{valor}}</p>
                    <span class="text-muted font-weight-bold">{{this.titulo}}</span>
                    <p class="font-weight-bolder font-nro-lab">{{this.porcentaje}}</p>
                    <span class="text-muted font-weight-bold">Porcentaje</span>
                </div>
            </div>
            <div *ngIf="!mostrar">
                <div class="d-flex flex-column text-right mr-2 mt-0">
                    <p class="font-weight-bolder font-nro">{{valor}}</p>
                    <span class="text-muted font-weight-bold">{{this.titulo}}</span>
                </div>
            </div>
        </div>
        <!--begin::Chart-->
        <!--end::Chart-->
        <!--end::Stats-->
    </div>
</mat-card>