<mat-card class="p-0 " [@animate]="{ value: '*', params: { opacity: '0', y: '40px', delay: '300ms' } }">
    <!-- Body -->
    <div class="card-body p-0">
        <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">

            <img class="img-datos mt-0" src="{{this.logo}}" alt="" />


            <div class="d-flex flex-column text-right mr-2 mt-1">
                <p class="font-weight-bolder font-nro">{{this.valor}}</p>
                <span class="text-muted font-weight-bold">{{this.titulo}}</span>
            </div>
        </div>
        <!--begin::Chart-->
        <div id="kt_stats_widget_11_chart" class="card-rounded-bottom" [style.height]="'80px'">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
                [states]="chartOptions.states" [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors" [markers]="chartOptions.markers" [plotOptions]="chartOptions.plotOptions">
            </apx-chart>
        </div>
        <!--end::Chart-->
        <!--end::Stats-->
    </div>
</mat-card>