table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th.nombre {
    width: 20%;
}

th.organizacion {
    width: 20%;
}

th.datos {
    width: 20%;
}

th.acciones {
    width: 20%;
}