<div class="text-center" *ngIf="!cargar">
    <h6 class="m-0 pb-16" style="white-space: pre-wrap; line-height: 1.4;">Buscando los Datos</h6>
    <div mat-dialog-content>
        <mat-spinner [style.margin]="'auto'"></mat-spinner>
    </div>
</div>
<div class="text-center" *ngIf="cargar">

    <div fxLayout="row wrap" fxLayoutAlign="center">
        <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
            <app-card [cssClass]=cssClass [baseColor]=grafVotos.baseColor [cardColor]=grafVotos.cardColor [baseColorLigth]=grafVotos.baseColorLigth [titulo]=grafVotos.tituloData [valor]=grafVotos.datosData [logo]=grafVotos.logoData [mostrar]=grafVotos.mostrar [porcentaje]=grafVotos.porcentaje></app-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
            <app-card [cssClass]=cssClass [baseColor]=grafVotosVoto.baseColor [cardColor]=grafVotosVoto.cardColor [baseColorLigth]=grafVotosVoto.baseColorLigth [titulo]=grafVotosVoto.tituloData [valor]=grafVotosVoto.datosData [logo]=grafVotosVoto.logoData [mostrar]=grafVotosVoto.mostrar
                [porcentaje]=grafVotosVoto.porcentaje>
            </app-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
            <app-card [cssClass]=cssClass [baseColor]=grafVotosFalta.baseColor [cardColor]=grafVotosFalta.cardColor [baseColorLigth]=grafVotosFalta.baseColorLigth [titulo]=grafVotosFalta.tituloData [valor]=grafVotosFalta.datosData [logo]=grafVotosFalta.logoData [mostrar]=grafVotosFalta.mostrar
                [porcentaje]=grafVotosFalta.porcentaje>
            </app-card>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center">

        <div class="coming-soon">
            <div class="time-countdown" fxFlex="100" fxLayout="column" fxLayoutAlign="start center">
                <mat-card class="tiempo">
                    <a>Los datos sectualizaran en <b>{{minutes}}</b> min <b>{{seconds}}</b> seg</a>
                </mat-card>
            </div>
        </div>
    </div>
    <div id="pdfTable" #pdfTable>

        <div *ngIf="cargar">

            <div id=”htmlData”>
                <!-- <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title" *ngIf="cargar">
                            <h3 class="card-label">Planilla de totales de Votos por Coordinador:
                            </h3>
                            <h4 class="card-label text-dark-75 font-weight-bolder font-size-lg mb-0">Votos cargados: {{this.totalVotos}} - Votos por DNI: {{this.totalDNI}} - Duplicados: {{this.duplicados}}
                            </h4>
                        </div>
                    </div> -->
                <div fxLayout="row wrap" class="text-center">
                    <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50">

                        <mat-form-field>
                            <mat-label>
                                Filtro de busqueda</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Escriba aquí..." #input>
                        </mat-form-field>
                    </div>

                </div>

            </div>
            <div class="mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container class="organizacion" matColumnDef="organizacion">
                        <mat-header-cell [ngClass]="'organizacion'" *matHeaderCellDef mat-sort-header>
                            Organizacion
                        </mat-header-cell>
                        <mat-cell [ngClass]="'organizacion'" *matCellDef="let votosCoordinadores">
                            <div class="celdaorg">{{votosCoordinadores.organizacion|uppercase}}</div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="nombrecompleto">
                        <mat-header-cell [ngClass]="'nombre'" *matHeaderCellDef mat-sort-header>
                            <div class="label-celda">Nombre Completo</div>
                        </mat-header-cell>
                        <mat-cell [ngClass]="'nombre'" *matCellDef="let votosCoordinadores">
                            <div class="celdanombre">{{votosCoordinadores.nombrecompleto|titlecase}}</div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalvotos">
                        <mat-header-cell [ngClass]="'totales'" *matHeaderCellDef mat-sort-header>
                            <div class="label-celda">Total Votos</div>
                        </mat-header-cell>


                        <mat-cell [ngClass]="'totales'" *matCellDef="let votosCoordinadores">
                            <div class="celda">{{votosCoordinadores.totalvotos}}</div>
                        </mat-cell>

                    </ng-container>
                    <ng-container matColumnDef="votaron">
                        <mat-header-cell [ngClass]="'datos'" *matHeaderCellDef mat-sort-header>
                            <div class="label-celda">Votaron</div>
                        </mat-header-cell>
                        <mat-cell [ngClass]="'datos'" *matCellDef="let votosCoordinadores">
                            <div class="celda">{{votosCoordinadores.votaron}}</div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="porcentaje" class="label-celda">
                        <div class="progress label-celda">
                            <mat-header-cell [ngClass]="'actions label-celda'" *matHeaderCellDef mat-sort-header>
                                <div class="label-celda">Porcentaje Votaron</div>
                            </mat-header-cell>
                        </div>
                        <mat-cell [ngClass]="'actions'" *matCellDef="let votosCoordinadores">
                            <div class="progress celda" *ngIf="votosCoordinadores.porcentaje>0 && votosCoordinadores.porcentaje<=34.9">
                                <div [ngClass]="'actions'" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{votosCoordinadores.porcentaje}}%;font-weight: bold;" aria-valuenow="{{votosCoordinadores.porcentaje}}" aria-valuemin="0"
                                    aria-valuemax="100">{{votosCoordinadores.porcentaje}} %
                                </div>
                            </div>
                            <div class="progress celda" *ngIf="votosCoordinadores.porcentaje>35 && votosCoordinadores.porcentaje<=59.9">
                                <div [ngClass]="'actions'" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{votosCoordinadores.porcentaje}}%;font-weight: bold;" aria-valuenow="{{votosCoordinadores.porcentaje}}" aria-valuemin="0"
                                    aria-valuemax="100">{{votosCoordinadores.porcentaje}} %
                                </div>
                            </div>
                            <div class="progress celda" *ngIf="votosCoordinadores.porcentaje>=60">
                                <div [ngClass]="'actions'" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{votosCoordinadores.porcentaje}}%;font-weight: bold;" aria-valuenow="{{votosCoordinadores.porcentaje}}" aria-valuemin="0"
                                    aria-valuemax="100">{{votosCoordinadores.porcentaje}} %
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="listaColumnas"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: listaColumnas;"></mat-row>

                </mat-table>
                <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons>
                </mat-paginator> -->
            </div>
        </div>
    </div>

</div>